*{
    box-sizing: border-box;
}
body{
    background: #010202; 
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
}
a{
    text-decoration: none;
}
.header{
    width: 90%;
    max-width: 1146px;
    margin: auto;
    padding: 56px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: block;
}
.user{
    display: flex;
    align-items: center;
}
.user-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-name{
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-right: 15px;
}
.app{
    background: linear-gradient(90deg, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%),
     url(../img/cover-image.jpg) no-repeat right top;
     min-height: 100vh;
     color: #fff;
}
.film{
    width: 90%;
    max-width: 1146px;
    margin: auto;
    padding: calc((100vh - 152px - 300px)/3) 0;
}
.tags{
    display: flex;
    color: #e5e5e5;
    opacity: 40%;
}
.tags > *{
    font-size: 16px;
    line-height: 140%;
    margin-right: 15px; 
}
.age{
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 1px 5px;
}
.description{
    max-width: 460px;
    font-size: 21px;
    line-height: 140%;
    margin-bottom: 36px;
}
.button{
    box-sizing: content-box;
    width: 183px;
    height: 44px; 
    padding: 11px 25px;
    background-repeat: 6px;
    border: none;
    font-size: 16px;
    line-height: 140%;
    background-color: #2f2f2f;
    color: #fff;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.button-primary{
    background-color: #EA6E20;
    margin-right: 15px;
}
.button-text{
   margin-left: 10px; 
}