*{
    box-sizing: border-box;
}
body{
    background: #010202; 
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
}
a{
    text-decoration: none;
}
.header{
    width: 90%;
    max-width: 1146px;
    margin: auto;
    padding: 56px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: block;
}
.user{
    display: flex;
    align-items: center;
}
.user-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-name{
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-right: 15px;
}
.app{
    background: linear-gradient(90deg, #010202 0%,#010202 45%, rgba(1, 2, 2, 0.2) 90%);
     min-height: 100vh;
     color: #fff;
}
.film{
    width: 90%;
    max-width: 1146px;
    margin: auto;
    padding: calc((100vh - 152px - 300px)/3) 0;
}
.tags{
    display: flex;
    color: #e5e5e5;
    opacity: 40%;
    flex-wrap: wrap;
}
.tags > *{
    font-size: 16px;
    line-height: 140%;
    margin-right: 15px; 
    margin-bottom: 10px;
}
.age{
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 1px 5px;
}
.description{
    max-width: 460px;
    font-size: 21px;
    line-height: 140%;
    margin-bottom: 36px;
}
.button{
    box-sizing: content-box;
    height: 44px; 
    padding: 11px 25px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    line-height: 140%;
    background-color: #2f2f2f;
    color: #fff;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.button-primary{
    background-color: #EA6E20;
    margin-right: 15px;
}
.button-text{
   margin-left: 10px; 
}
.fancybox-content{
    background: transparent important!;
}

 .modal {
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    background-color: rgba(0, 0, 0, .5);
}
.modal__dialog {
    max-width: 500px;
    margin: 40px auto;
}
.modal__content {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff; 
    /* border: 1px solid rgba(0, 0, 0, .2); */
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}
.modal__title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
}
.modal__input {
    display: block;
    margin: 20px auto 20px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
}
.modal .btn {
    display: block;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 11px 25px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    line-height: 140%;
    background-color: #2f2f2f;
    color: #fff;
    align-items: center;
    cursor: pointer;
    background-color: #EA6E20;
}

@media (max-width: 768px){
    .app{
        height: auto;
        padding-bottom: 400px;
        background: url('../img/cover-image.jpg') no-repeat bottom center / 300px;
    }
    video{
        display: none;
    }
    .film{
        padding-top: 2%;
    }
    .description{
        font-size: 16px;
        min-width: 330px;
    }
    .film-logo{
        min-width: 100%;
    }
    .tags{
        max-width: 100%;
    }
    .user-name{
        display: none;
    }
}
@media (max-width: 576px){
    .button-text{
        display: none;
    }
    .user-name{
        display: none;
    }
    .app{
        height: auto;
        padding-bottom: 350px;
        background-size: 300px;
    }
    .button{
      margin-bottom: 10px;  
    }
}